name: mlops-pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  mlops:
    runs-on: ubuntu-latest

    steps:

    # checkout code
    - name: checkout repository
      uses: actions/checkout@v3

    # set up python
    - name: set up python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    # install python dependencies
    - name: install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install huggingface_hub

    - name: install huggingface cli
      run: |
        pip install hf-cli
        pip install huggingface_hub

    - name: huggingface login
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
      run: |
        echo "$HF_TOKEN" | hf-cli login
        git config --global credential.helper store
        printf "https://user:$HF_TOKEN@huggingface.co" > ~/.git-credentials



    # create folder structure if missing
    - name: create ml folders
      run: |
        mkdir -p data
        mkdir -p outputs
        mkdir -p models

    # run data preparation
    - name: run data pipeline
      run: |
        python scripts/data_pipeline.py

    # model training
    - name: run model training
      run: |
        python scripts/model_training.py

    # upload the model to hugging face
    - name: upload best model to huggingface
      run: |
        python scripts/model_upload.py

    # commit and push output changes
    - name: push updates to repository
      run: |
        git config --local user.email "actions@github.com"
        git config --local user.name "github-actions"

        git add .
        git commit -m "automated pipeline update" || echo "nothing to commit"
        git push origin main
